@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700;900&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Titillium Web', monospace, sans-serif;
  font-size: 18px;
  font-weight: 300;
}
