
.button {
    position: fixed;
    border-radius: 2rem;
    top: 1rem;
    left: 1rem
}

.divContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-image: url("../../assets/bgkDetail.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: #64792d; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-image: url("../../assets/bgkDetail.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
    padding: 5rem;
    border-radius: 3rem;
    background-color:#d7be9b;
}

.height {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.label, .input {
    margin: 0.5rem;
    padding: 0.5rem;
}

.label {
    background-color: #988684;
    border-radius: 2rem;
}

.errors, .create {
    margin: 0.25rem;
    border-radius: 0.25rem;
}


.errors {
    background-color: red;
    
}

.create {
    background-color: #64792d;
    /* margin: 0.25rem;
    border-radius: 0.25rem; */
}
