.divContainer {
    position: absolute;
        height: 100%; 
        width: 100%;
    background-image: url("../../assets/bgkHome.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}